*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: lime;
}
.response {
    min-height: fit-content;
    width: 90vw;
    background-color: black;
    margin: 10px auto;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    padding: 5px;
}
.msgbox{
    border-bottom: 1px solid lime;
    padding: 7px;
}